<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Complete guide NodeJS</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Product</a></li>
          <li><a href="">Login</a></li>
          <li><a href="">Sign up</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Welcome to our Shop</h1>
    </main>
  </body>
</html>
